.title{
    color: transparent;
    padding: 0.15rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Zen Dots', cursive;
    -webkit-text-stroke: 1px yellow;
    margin: 0px;
}

.principalHead{
    background: #222121;
    border: #0e0c0c;
    border-style: dashed;
    border-radius: 5%;
}

p{
    color: white;
    -webkit-text-stroke: 0.5px rgb(26, 24, 24);
    text-align: center;
}