.card{
    width: 260px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    border: 10px;
    border-radius: 5%;
    border-style: solid;
    border-color: #0e0c0c;
    border-width: 2px;
    padding: 8px 0px 2px 0px;
    margin: 2em;
    background-color: #222121;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: background-color .5s;
}

.card:hover{
    background-color: #750a0a;
}

.photo{
    display:block;
    margin:auto;
}